
/* subscribe sec */

.subs {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    margin: 140px;
    padding: 80px 0;
}

.subs h1 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subs p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    padding: 0px 212px;
}

.subs input[type="email"] {
    width: 408px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding: 25px 30px ;
    border-radius:50px 0 0 50px;
}

.subs input[type="submit"] {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 24px 56px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.subs input[type="submit"]:hover {
    background-color: green ;
    cursor: pointer;
}

/* contact sec */

.gen-div {
    display: flex;
    justify-content: space-between;
}    

.cont {
    padding: 120px 140px;
    background: #070211;
    width: 1600px;
}

.cont .dis {
    margin-bottom: 50px;
    gap: 50vw;
}

.cont div p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
    display: inline;
}

.cont #icn {
    justify-content: center;
}

.cont #icn .icon {
    margin: 48px 24px;
}

.rights {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}