
/* midnight party sec */

.party {
    background:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/party\ bg.png);
    display: flex;
    margin: 120px auto ;
}

.party h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party #pr-txt {
    padding-top: 100px ;
    padding-left: 126px;
}

.party #pr-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 30px; 
    margin-top: -32px;
}

.party #join {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 32px;
}

.party #join:hover {
    color: blue;
}

.party #pr-img {
    padding: 70px 140px 70px 40px;
}

/* venue section */

.venue {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin: 0 auto;
}

.venue p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

.venue .txt-color {
    color: #F00;
}

.venue a button {
    color: #FFF;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
}

.venue button:hover {
    background-color: green;
    cursor: pointer;
}

/* new offer sec */

.offer {
    display: flex;
    width: 1320px;
    margin: 120px auto;
}

.offer #txt1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

}

.offer #txt2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.offer #txt3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
}

.offer #ellipse {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
    margin-left: 70px;
    margin-right: 118px;
}

.offer #txt-r-1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.offer #txt-r-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-right: -100px;
}    

/* sale section */

.sale {
    margin: 0 150px;
}

.s-txt {
    max-width: 1000px;
    margin: 0 auto;

}

.sale #s-txt1 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    
}

.sale #s-txt2 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
}

.sale #s-txt2 #hol {
    color: #F00;
}

.sale #s-txt3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px; 
    text-align: center;
   
}

.flx-img {
    margin-top: 64px;
    margin-bottom: 150px;
    display: inline-flex;
    justify-content: space-between;
    background-image: url(../resources/red.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

 .flx-img .image {
    background-image: url(../resources/girl.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 286px;
    padding-top: 86px; 
}


/* portfolio sec */

.portfolio {
    margin: 0 220px;
}

.portfolio #p-txt1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 0 0 ;
}

.portfolio #p-txt2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio #p-txt3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 48px;
}

.portfolio .p-img:hover {
    transform: scale(1.1);
}

