@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* this is the banner sec */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto; 
    width: 1320px;
    height: 600px;;
}

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    line-height: 95px;
    font-weight: 900;
    margin-top: -15px;
}

.banner p {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    padding-top: 177px;
   
}    

/* holiday deal style */

.h-deal {
    text-align: center;
}
 
.h-deal #off {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
}

.h-deal #txt {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.h-deal #ctr {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}