@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.gen-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0 auto; 
    width: 1320px;
    height: 600px;
}  

/* this is the banner sec */

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
 }   

.banner h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    line-height: 95px;
    font-weight: 900;
    margin-top: -15px;
}

.banner p {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    padding-top: 177px;
   
}    

/* holiday deal style */

.h-deal {
    text-align: center;
}
 
.h-deal #off {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    cursor: pointer ;
}


.h-deal #txt {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.h-deal #ctr {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}

/* midnight party sec */

.party {
    background:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/party\ bg.png);
    display: flex;
    margin: 120px auto ;
}

.party h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.party #pr-txt {
    padding-top: 100px ;
    padding-left: 126px;
}

.party #pr-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 30px; 
    margin-top: -32px;
}

.party #join {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 32px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.party #pr-img {
    padding: 70px 140px 70px 40px;
}

/* venue section */

.venue {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin: 0 auto;
}

.venue p {
    color: #070211;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

.venue .txt-color {
    color: #F00;
}

.venue button {
    color: #FFF;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
}

/* new offer sec */

.offer {
    display: flex;
    width: 1600px;
    margin: 120px auto;
}

.offer #txt1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

}

.offer #txt2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.offer #txt3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
}

.offer #ellipse {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 49px;
    margin-left: 70px;
    margin-right: 118px;
}

.offer #txt-r-1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.offer #txt-r-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
}    